<p style="color: green"><%= notice %></p>

<% content_for :title, "Application settings" %>

<h1>Application settings</h1>

<div id="application_settings">
  <% @application_settings.each do |application_setting| %>
    <%= render application_setting %>
    <p>
      <%= link_to "Show this application setting", application_setting %>
    </p>
  <% end %>
</div>

<%= link_to "New application setting", new_application_setting_path %>
