<p style="color: green"><%= notice %></p>

<% content_for :title, "User subscribers" %>

<h1>User subscribers</h1>

<div id="user_subscribers">
  <% @user_subscribers.each do |user_subscriber| %>
    <%= render user_subscriber %>
    <p>
      <%= link_to "Show this user subscriber", user_subscriber %>
    </p>
  <% end %>
</div>

<%= link_to "New user subscriber", new_user_subscriber_path %>
