<% content_for :title, "New user subscriber" %>

<h1>New user subscriber</h1>

<%= render "form", user_subscriber: @user_subscriber %>

<br>

<div>
  <%= link_to "Back to user subscribers", user_subscribers_path %>
</div>
