<% content_for :title, "New title deed card" %>

<h1>New title deed card</h1>

<%= render "form", title_deed_card: @title_deed_card %>

<br>

<div>
  <%= link_to "Back to title deed cards", title_deed_cards_path %>
</div>
