<% content_for :title, "Editing strong hold card" %>

<h1>Editing strong hold card</h1>

<%= render "form", strong_hold_card: @strong_hold_card %>

<br>

<div>
  <%= link_to "Show this strong hold card", @strong_hold_card %> |
  <%= link_to "Back to strong hold cards", strong_hold_cards_path %>
</div>
