<% content_for :title, "New strong hold card" %>

<h1>New strong hold card</h1>

<%= render "form", strong_hold_card: @strong_hold_card %>

<br>

<div>
  <%= link_to "Back to strong hold cards", strong_hold_cards_path %>
</div>
