<% content_for :title, "Editing heart shape herb card" %>

<h1>Editing heart shape herb card</h1>

<%= render "form", heart_shape_herb_card: @heart_shape_herb_card %>

<br>

<div>
  <%= link_to "Show this heart shape herb card", @heart_shape_herb_card %> |
  <%= link_to "Back to heart shape herb cards", heart_shape_herb_cards_path %>
</div>
