<% content_for :title, "New heart shape herb card" %>

<h1>New heart shape herb card</h1>

<%= render "form", heart_shape_herb_card: @heart_shape_herb_card %>

<br>

<div>
  <%= link_to "Back to heart shape herb cards", heart_shape_herb_cards_path %>
</div>
