<% content_for :title, "New kimoyo bead card" %>

<h1>New kimoyo bead card</h1>

<%= render "form", kimoyo_bead_card: @kimoyo_bead_card %>

<br>

<div>
  <%= link_to "Back to kimoyo bead cards", kimoyo_bead_cards_path %>
</div>
