<p style="color: green"><%= notice %></p>

<% content_for :title, "Character cards" %>

<h1>Character cards</h1>

<div id="character_cards">
  <% @character_cards.each do |character_card| %>
    <%= render character_card %>
    <p>
      <%= link_to "Show this character card", character_card %>
    </p>
  <% end %>
</div>

<%= link_to "New character card", new_character_card_path %>
