<div id="<%= dom_id product_page %>">
  <p>
    <strong>Name:</strong>
    <%= product_page.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product_page.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product_page.price %>
  </p>

</div>
