<%= form_with(model: dice) do |form| %>
  <% if dice.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dice.errors.count, "error") %> prohibited this dice from being saved:</h2>

      <ul>
        <% dice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
