<div id="inbox" class="tab-pane">
      <h2>Inbox</h2>
      <!-- Add your inbox form or content here -->
      <p>
        <div class="br-mailbox-list">
      <div class="br-mailbox-list-header">
        <a href="" id="showMailBoxLeft" class="show-mailbox-left hidden-sm-up">
          <i class="fa fa-arrow-right"></i>
        </a>
        <h6 class="tx-inverse mg-b-0 tx-13 tx-uppercase">Inbox <span class="tx-roboto">(2)</span></h6>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-light disabled pd-x-25"><i class="fa fa-angle-left"></i></button>
          <button type="button" class="btn btn-light pd-x-25"><i class="fa fa-angle-right"></i></button>
        </div>
      </div><!-- br-mailbox-list-header -->
      <div class="br-mailbox-list-body">
        <div class="br-mailbox-list-item active">
          <div class="d-flex justify-content-between mg-b-5">
            <div>
              <i class="icon ion-ios-star tx-warning"></i>
              <i class="icon ion-android-attach"></i>
            </div>
            <span class="tx-12">10 hours ago</span>
          </div><!-- d-flex -->
          <h6 class="tx-14 mg-b-10 tx-gray-800">Socrates Itumay, me (4)</h6>
          <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item unread">
          <div class="d-flex justify-content-between mg-b-5">
            <div>
              <i class="icon ion-ios-star"></i>
              <i class="icon ion-android-attach"></i>
            </div>
            <span class="tx-12">1 day ago</span>
          </div><!-- d-flex -->
          <h6 class="tx-14 mg-b-10 tx-gray-800">Envato, me (2)</h6>
          <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <div class="br-mailbox-list-item">
          <div class="d-flex justify-content-between mg-b-5">
            <div>
              <i class="icon ion-ios-star"></i>
              <i class="icon ion-android-attach"></i>
            </div>
            <span class="tx-12">2 days ago</span>
          </div><!-- d-flex -->
          <h6 class="tx-14 mg-b-10 tx-gray-800">Themeforest</h6>
          <p class="tx-12 tx-gray-600 mg-b-5">I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never...</p>
        </div><!-- br-mailbox-list-item -->
        <!-- br-mailbox-list-body -->
    </div><!-- br-mailbox-list -->
  </p>
    </div>


    