<div class="br-mailbox-body">
      <div class="br-msg-header d-flex justify-content-between">
        <div class="media align-items-center">
          <img src="http://via.placeholder.com/280x280" class="wd-40 rounded-circle" alt="">
          <div class="media-body mg-l-10">
            <p class="tx-inverse tx-medium mg-b-0">Louise Kate Lumaad</p>
            <p class="tx-12 mg-b-0">
              <span>Sep 20, 2017 8:45am</span>
              <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-star"></i></a>
              <a href="" class="mg-l-5 tx-gray-500"><i class="icon ion-android-attach"></i></a>
            </p>
          </div><!-- media-body -->
        </div><!-- media -->
        <nav class="nav nav-inline tx-size-24 mg-b-0 lh-0">
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="icon ion-reply"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="icon ion-reply-all"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="icon ion-printer"></i></a>
          <a href="" class="nav-link tx-gray-light hover-inverse pd-x-5"><i class="icon ion-android-more-horizontal"></i></a>
          <a id="closeMail" href="" class="nav-link pd-x-5 mg-l-15 hidden-xl-up">
            <i class="icon ion-close"></i>
          </a>
        </nav>
      </div><!-- br-msg-header -->
      <!-- Privacy Settings -->
    <div id="drafts" class="tab-pane">
      <h2>Privacy Settings</h2>
      <!-- Add your privacy settings form or content here -->
      <p><div class="br-msg-body">
        <h6 class="tx-inverse mg-b-25 lh-4">Message sent via your Envato Market profile from themepixels</h6>

        <p>Hi Isidore,</p>

        <p>A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>

        <p>I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

        <p>I should be incapable of drawing a single stroke at the present moment; and yet I feel that I never was a greater artist than now.</p>

        <p>Regards,<br>ThemePixels</p>
      </div><!-- br-msg-body --></p>
    </div>

      <div class="pd-x-30 pd-b-30">
        <div class="row flex-row-reverse">
          <div class="col-md-9">
            <textarea class="form-control ht-150" placeholder="Click to write message"></textarea>
          </div><!-- col-9 -->
          <div class="col-md-3 mg-t-30 mg-md-t-0">
            <div class="ht-150 bd bd-dashed d-flex align-items-center justify-content-center rounded bg-gray-300">
              <div class="tx-center wd-60p">
                <i class="icon ion-android-attach tx-32"></i>
                <p class="tx-12">Drag or click to attach a file</p>
              </div>
            </div>
          </div><!-- col-3 -->
        </div><!-- row -->
      </div>
    </div>