<% content_for :title, "Editing mailbox" %>

<h1>Editing mailbox</h1>

<%= render "form", mailbox: @mailbox %>

<br>

<div>
  <%= link_to "Show this mailbox", @mailbox %> |
  <%= link_to "Back to mailboxes", mailboxes_path %>
</div>
