<% content_for :title, "Editing money pack" %>

<h1>Editing money pack</h1>

<%= render "form", money_pack: @money_pack %>

<br>

<div>
  <%= link_to "Show this money pack", @money_pack %> |
  <%= link_to "Back to money packs", money_packs_path %>
</div>
