<%= form_with(model: alliance) do |form| %>
  <% if alliance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(alliance.errors.count, "error") %> prohibited this alliance from being saved:</h2>

      <ul>
        <% alliance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
