<% content_for :title, "Editing alliance" %>

<h1>Editing alliance</h1>

<%= render "form", alliance: @alliance %>

<br>

<div>
  <%= link_to "Show this alliance", @alliance %> |
  <%= link_to "Back to alliances", alliances_path %>
</div>
