<!-- Empty space to align the footer -->
      <div class="col-md-3"></div>
      <div class="col-md-1"></div>

      <!-- Footer Content -->
      <div class="text-center">
        <footer class="br-footer">
          <div class="footer-left">
            <div class="mb-2">Copyright &copy; 2024. Lightek Systems. All Rights Reserved.</div>
            <div>Attentively and carefully made by Lightek Systems.</div>
          </div>
          <div class="footer-right d-flex align-items-center justify-content-center mt-2">
            <span class="tx-uppercase mr-2">Share:</span>
            <a target="_blank" class="px-2" href="https://www.facebook.com/sharer/sharer.php?u=http%3A//themepixels.me/bracket/intro"><i class="fa fa-facebook tx-20"></i></a>
            <a target="_blank" class="px-2" href="https://twitter.com/home?status=Bracket,%20your%20best%20choice%20for%20premium%20quality%20admin%20template%20from%20Bootstrap.%20Get%20it%20now%20at%20http%3A//themepixels.me/bracket/intro"><i class="fa fa-twitter tx-20"></i></a>
          </div>
        </footer>
      </div>