<% content_for :title, "Editing villiage card" %>

<h1>Editing villiage card</h1>

<%= render "form", villiage_card: @villiage_card %>

<br>

<div>
  <%= link_to "Show this villiage card", @villiage_card %> |
  <%= link_to "Back to villiage cards", villiage_cards_path %>
</div>
