<% content_for :title, "New villiage card" %>

<h1>New villiage card</h1>

<%= render "form", villiage_card: @villiage_card %>

<br>

<div>
  <%= link_to "Back to villiage cards", villiage_cards_path %>
</div>
